<h1>Delete the Meeting</h1>
<form class="meeting-form" action="/deleteEvent" id="eventDeletion-form" method="POST">

    <div>
        <label for="meetingId">Delete Event:</label>
        <input id="meetingId" type="text" name="meetingId">    
    </div>
    </br>
    </br>
    <div>
        <label for="location">Enter location:</label>
        <input name="location" id="location" type="text">
    </div>
    <div class="error" id="no-location" hidden>Please provide a location</div>
    </br>
    </br>
    <div>
        <label for="time">Enter time:</label>
        <input name="time" id="time" type="time">
    </div>
    <div class="error" id="no-time" hidden>Please provide a time</div>
    </br>
    </br>
    <div>
        <label for="date">Enter date:</label>
        <input name="date" id="date" type="date">
    </div>
    <div class="error" id="no-date" hidden>Please provide a date</div>
    </br>
    <button class="log" type="submit">Delete Meeting</button>
</form>
</br>
</br>
<a class="go-back" href="/admin" style="position:absolute; bottom:1cm">Go back</a>
