<h1>Delete the Meeting</h1>
<form class="meeting-form" action="/deleteMeeting" id="eventDeletion-form" method="POST">
    <div>
        <label for="eventName">Delete Event:</label>
        <input  id="eventName" type="text" name="eventName">    
    </div>
    <button class="log" type="submit">Delete Meeting</button>
</form>
</br>
</br>
<a class="go-back" href="/admin" style="position:absolute; bottom:1cm">Go back</a>


