<div class="search">
  <p>Enter a search query below to search the events database.</p>
</div>

<form class="searchForm" action="/filters" id="searchForm" method="post">
  <div>
    <label for="searchQuery">Event Name:</label>
    <input name="searchQuery" id="searchQuery" type="text" placeholder="Enter the event name">
    <div class="error" id="no-eventName" hidden>Please provide the event name</div>
  </div>

  <button class="submit" type="submit">Search</button>
</form>

<ul id="searchResults">
  <!-- Results inserted dynamically -->
</ul>
