<h1>Event Feedback</h1>
  <form class="feedback-form" action="/userreviews" id="feedback-form" method="post">
    <div>
      <p>Hello {{firstName}} {{lastName}}! Share your feedback below:</p>
    </div>
    </br>
    <div>
        <label for="eventName">Enter eventName:</label>
        <input name="eventName" id="eventName" type="text">
    </div>
    <div class="error" id="no-eventName" hidden>Please provide a eventName</div>
    </br>
    <div>
        <label for="location">Enter location:</label>
        <input name="location" id="location" type="text">
    </div>
    <div class="error" id="no-location" hidden>Please provide a capacity</div>
    </br>

    <div>
        <label for="date">Enter date:</label>
        <input name="date" id="date" type="date">
    </div>
    <div class="error" id="no-date" hidden>Please provide a date</div>
    </br>

    
     <div>
        <label for="time">Enter time:</label>
        <input name="time" id="time" type="time">
    </div>
    <div class="error" id="no-time" hidden>Please provide a capacity</div>
    </br>

    <div>
      <label for="rating">Rating:</label>
      <select name="rating" id="rating" required>
        <option value="5">5 - Excellent</option>
        <option value="4">4 - Very Good</option>
        <option value="3">3 - Good</option>
        <option value="2">2 - Fair</option>
        <option value="1">1 - Poor</option>
      </select>
      <div class="error" id="no-rating" hidden>Please provide a rating</div>
    </div>
    </br>
    </br>

    <div>
      <label for="comments">Comments:</label>
      <textarea name="comments" id="comments" rows="4" placeholder="Enter your comments"></textarea>
      <div class="error" id="no-comments" hidden>Please provide comments</div>
    </div>
    </br>
    </br>
    <button class="submit" type="submit">Submit Feedback</button>
  </form>
  <br>
  
  <a class="go-back" href="/protected" style="position:absolute; bottom:1cm">Go back</a>