/* General Styles */

body {
    font-family: 'CerebriSans-Regular', -apple-system, system-ui, Roboto, sans-serif;
    text-align: center;
    background-color: rgb(134, 226, 200);
    margin-top: 20px;
}

h1 {
    color: rgb(98, 34, 145);
}

/* Form Styles */

.log-form,
.reg-form {
    display: inline-block;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
}

.log-form {
    background-color: #7a82de;
    height: 150px;
    width: 320px;
}

.reg-form {
    background-color: #858de5;
    height: 350px;
    width: 350px;
}

/* Button Styles */

.submit {
    color: #fff;
    padding: 15px 25px;
    background-color: #38D2D2;
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

/* Link Styles */

a {
    text-align: center;
    display: inline-block;
    color: #4125dd;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #7a82de;
}

/* Log Styles */

.log {
    background-color: #c2fbd7;
    border-radius: 100px;
    color: green;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
}

/* Error Styles */

.error {
    color: red;
    font-weight: bold;
}

/* Event Schedule Styles */

.event-schedule-area .section-title .title-text {
    margin-bottom: 50px;
}

.event-schedule-area .tab-area .nav-tabs,
.event-schedule-area-two .tab-content .table {
    margin-bottom: 0;
}

.event-schedule-area .tab-area .nav,
.event-schedule-area .tab-area .nav-item,
.event-schedule-area .tab-area .nav-link,
.event-schedule-area-two ul.custom-tab,
.event-schedule-area-two ul.custom-tab li,
.event-schedule-area-two ul.custom-tab li a {
    text-align: center;
}

.event-schedule-area .tab-area .nav-item {
    margin-bottom: 75px;
}

.event-schedule-area .tab-area .nav-item .nav-link,
.event-schedule-area-two ul.custom-tab li a {
    font-size: 22px;
    color: #333;
    font-weight: 600;
    border-radius: inherit;
    padding: 0px;
    text-transform: capitalize !important;
    position: relative;
}

.event-schedule-area .tab-area .nav-item .nav-link.active,
.event-schedule-area-two ul.custom-tab li a.active {
    color: #4125dd;
    background-color: transparent;
}

.event-schedule-area .tab-area .tab-content .table thead td,
.event-schedule-area .tab-area .tab-content .table thead th,
.event-schedule-area-two .tab-content .table thead,
.event-schedule-area-two .tab-content .table thead tr th {
    border-bottom-width: 1px;
    font-size: 20px;
    font-weight: 600;
    color: #252525;
}

.event-schedule-area .tab-area .tab-content .table td,
.event-schedule-area .tab-area .tab-content .table th,
.event-schedule-area-two .tab-content .table tbody th,
.event-schedule-area-two .tab-content .table tbody tr.inner-box th,
.event-schedule-area-two .tab-content .table tbody tr td {
    border: 1px solid #b7b7b7;
    padding-left: 30px;
}

.event-schedule-area .tab-area .tab-content .table tbody th .heading,
.event-schedule-area .tab-area .tab-content .table tbody td .heading,
.event-schedule-area-two .tab-content .table tbody th .heading,
.event-schedule-area-two .tab-content .table tbody td .heading {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 16px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 6px;
}

.event-schedule-area .tab-area .tab-content .table tbody th span,
.event-schedule-area .tab-area .tab-content .table tbody td span,
.event-schedule-area-two .tab-content .table tbody th span,
.event-schedule-area-two .tab-content .table tbody td span,
.event-schedule-area-two .tab-content .table tbody th p {
    color: #4125dd;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: block;
}

.event-schedule-area .tab-area .tab-content .table tbody th span.date,
.event-schedule-area .tab-area .tab-content .table tbody td span.date,
.event-schedule-area-two .tab-content .table tbody th span.date,
.event-schedule-area-two .tab-content .table tbody td span.date {
    color: #656565;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}

